img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
}
img:hover{
    border-color: blue;
}

.hed{
    margin-top: 0px;
    padding:20px;
    background-color: aliceblue;
    width: 100%; 
}
.che {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
}

.c1{
    text-align: center;
  text-transform: uppercase;
  color: #505e51;
  font-family: fantasy;
}